:where(.grid) {
	display: grid;
	grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(min(var(--grid-min-item-size, 16rem), 100%), 1fr)
	);
	gap: var(--grid-gutter, var(--gutter, 1rem));
}
