/* ==========================================================================
objects.retain
Creates a wrapper around a block of content, centers, adds padding and
retains it to your desired size.
As per: https://every-layout.dev/layouts/center/
/  ========================================================================== */

@layer objects {
	/**
	 * 1. With the default `box-sizing: border-box` the padding will be
	 *    substracted from the maximum inline-size. This is not what we want with
	 *    `retain`, therefore we set it to `content-box` so the content within
	 *    is always the same as the maximum inline size.
	 */
	:where(.o-retain) {
		--s-retain-padding-inline: var(--s-space-base, 1rem);
		--s-retain-margin-inline: auto;
		box-sizing: content-box; /* [1] */
		max-inline-size: var(--s-retain-max-inline-size, 80rem);
		padding-inline: var(
				--s-retain-padding-inline-start,
				var(--s-retain-padding-inline)
			)
			var(--s-retain-padding-inline-end, var(--s-retain-padding-inline));
		margin-inline: var(
				--s-retain-margin-inline-start,
				var(--s-retain-margin-inline)
			)
			var(--s-retain-margin-inline-end, var(--s-retain-margin-inline));
	}

	:where(.o-retain--flush) {
		--s-retain-padding-inline: 0;
	}
}
