@theme {
	/**
	* Colors
	*/
	--color-*: initial;
	--color-light: #fafafa;
	--color-zinc: #f4f4f5;
	--color-dark: #12355b;
	--color-brand: #ee4266;
	--color-brand-secondary: #161f2b;
	--color-brand-tertiary: #3ddc97;

	/* semantic */
	--color-background: var(--color-light);
	--color-foreground: var(--color-dark);
	--color-primary-background: var(--color-brand);
	--color-primary-foreground: var(--color-light);
	--color-secondary-background: var(--color-brand-secondary);
	--color-secondary-foreground: var(--color-light);
	--color-tertiary-background: var(--color-brand-tertiary);
	--color-tertiary-foreground: var(--color-dark);
	--color-highlight: var(--color-primary-background);


	--color-surface-background: light-dark(var(--color-background), var(--color-dark));
	--color-surface-foreground: light-dark(var(--color-foreground), var(--color-light));
	--color-slate-background: light-dark(var(--color-background), var(--color-brand-secondary));
	--color-slate-foreground: light-dark(var(--color-foreground), var(--color-light));

	/**
	* Fonts
	*/
	--font-*: initial;
	--font-body: "Brockmann", system-ui;
	--font-heading: var(--font-body);

	/**
	* Weights
	*/
	--font-weight-heading: var(--font-weight-bold);

	/**
	* Typography
	*/
	--text-*: initial;
	/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,24,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|2xs-2xl|m-3xl|m-2xl&g=s,l,xl,12 */
	/* Step -2: 13.8889px → 12.0036px */
  --step--2: clamp(0.7502rem, 0.9017rem + -0.1683vw, 0.8681rem);
  /* Step -1: 16.6667px → 16.9731px */
  --step--1: clamp(1.0417rem, 1.0362rem + 0.0274vw, 1.0608rem);
  /* Step 0: 20px → 24px */
  --step-0: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
  /* Step 1: 24px → 33.936px */
  --step-1: clamp(1.5rem, 1.3226rem + 0.8871vw, 2.121rem);
  /* Step 2: 28.8px → 47.9855px */
  --step-2: clamp(1.8rem, 1.4574rem + 1.713vw, 2.9991rem);
  /* Step 3: 34.56px → 67.8515px */
  --step-3: clamp(2.16rem, 1.5655rem + 2.9725vw, 4.2407rem);
  /* Step 4: 41.472px → 95.942px */
  --step-4: clamp(2.592rem, 1.6193rem + 4.8634vw, 5.9964rem);
  /* Step 5: 49.7664px → 135.662px */
  --step-5: clamp(3.1104rem, 1.5765rem + 7.6693vw, 8.4789rem);

	--text-base: var(--step-0);
	--text-tiny: var(--step--2);
	--text-small: var(--step--1);
	--text-heading-1: var(--step-4);
	--text-heading-2: var(--step-3);
	--text-heading-3: var(--step-2);
	--text-heading-4: var(--step-1);
	--text-heading-5: var(--step-0);
	--text-heading-6: var(--step-0);

	/*
	* Leading/lineheight
	*/
	--leading-*: initial;
	--leading-tight: .8;
	--leading-flat: 1;
	--leading-fine: 1.09;
	--leading-slim: 1.18;
	--leading-short: 1.36;
	--leading-base: 1.5;
	--leading-loose: 1.7;

	/*
	* Kerning
	*/
	--kerning-*: initial;
	--kerning-base: normal;
	--kerning-tight: -.04ch;
	--kerning-loose: .05ch;
	--kerning-caps: .1ch;

	/*
	* Font weights
	*/
	--font-weight-*: initial;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/*
	Measure
	*/
	--measure-l: 75ch;
	--measure-base: 65ch;
	--measure-s: 45ch;
	--measure-xs: 30ch;

	--measure-h1: var(--measure-xs);
	--measure-h2: var(--measure-xs);
	--measure-h3: var(--measure-xs);
	--measure-h4: var(--measure-xs);
	--measure-h5: var(--measure-xs);
	--measure-h6: var(--measure-xs);

	/**
	* Spacings
	*/
	--spacing-*: initial;
	/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1440,24,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|2xs-2xl|m-3xl|m-2xl&g=s,l,xl,12 */
	/* Space 3xs: 4px → 6px */
	--spacing-3xs: clamp(0.25rem, 0.2143rem + 0.1786vw, 0.375rem);
	/* Space 2xs: 8px → 12px */
	--spacing-2xs: clamp(0.5rem, 0.4286rem + 0.3571vw, 0.75rem);
	/* Space xs: 12px → 18px */
	--spacing-xs: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
	/* Space s: 16px → 24px */
	--spacing-s: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
	/* Space m: 24px → 36px */
	--spacing-m: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
	/* Space l: 32px → 48px */
	--spacing-l: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
	/* Space xl: 48px → 72px */
	--spacing-xl: clamp(3rem, 2.5714rem + 2.1429vw, 4.5rem);
	/* Space 2xl: 64px → 96px */
	--spacing-2xl: clamp(4rem, 3.4286rem + 2.8571vw, 6rem);
	/* Space 3xl: 96px → 144px */
	--spacing-3xl: clamp(6rem, 5.1429rem + 4.2857vw, 9rem);

	/* One-up pairs */
	/* Space 3xs-2xs: 4px → 12px */
	--spacing-3xs-2xs: clamp(0.25rem, 0.1071rem + 0.7143vw, 0.75rem);
	/* Space 2xs-xs: 8px → 18px */
	--spacing-2xs-xs: clamp(0.5rem, 0.3214rem + 0.8929vw, 1.125rem);
	/* Space xs-s: 12px → 24px */
	--spacing-xs-s: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
	/* Space s-m: 16px → 36px */
	--spacing-s-m: clamp(1rem, 0.6429rem + 1.7857vw, 2.25rem);
	/* Space m-l: 24px → 48px */
	--spacing-m-l: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
	/* Space l-xl: 32px → 72px */
	--spacing-l-xl: clamp(2rem, 1.2857rem + 3.5714vw, 4.5rem);
	/* Space xl-2xl: 48px → 96px */
	--spacing-xl-2xl: clamp(3rem, 2.1429rem + 4.2857vw, 6rem);
	/* Space 2xl-3xl: 64px → 144px */
	--spacing-2xl-3xl: clamp(4rem, 2.5714rem + 7.1429vw, 9rem);

	/* Custom pairs */
	/* Space s-l: 16px → 48px */
	--spacing-s-l: clamp(1rem, 0.4286rem + 2.8571vw, 3rem);
	/* Space 2xs-2xl: 8px → 96px */
	--spacing-2xs-2xl: clamp(0.5rem, -1.0714rem + 7.8571vw, 6rem);
	/* Space m-3xl: 24px → 144px */
	--spacing-m-3xl: clamp(1.5rem, -0.6429rem + 10.7143vw, 9rem);
	/* Space m-2xl: 24px → 96px */
	--spacing-m-2xl: clamp(1.5rem, 0.2143rem + 6.4286vw, 6rem);

	/* Semantic mappings */
	--spacing-gutter: var(--spacing-m);
	--spacing-bleed: var(--spacing-2xs-2xl);
	--spacing-region: var(--spacing-m-3xl);


	/*
	* Shadows
	*/
	--shadow-*: initial;
	--shadow-l1: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
	--shadow-l2: 0px 0px 4px 0px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.10);
	--shadow-l3: 0px 0px 6px 0px rgba(0, 0, 0, 0.08), 0px 10px 16px -4px rgba(0, 0, 0, 0.10);
	--shadow-l4: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), 0px 12px 20px -4px rgba(0, 0, 0, 0.10);
	--shadow-l5: 0px 0px 10px 0px rgba(0, 0, 0, 0.08), 0px 14px 24px -4px rgba(0, 0, 0, 0.10);
	--shadow-l6: 0px 0px 12px 0px rgba(0, 0, 0, 0.08), 0px 24px 40px -4px rgba(0, 0, 0, 0.10);
}
