@theme {
	/* Colors */
	--color-*: initial;
	--color-brand: #ff0000;

	/* Text */
	--text-h1: var(--text-base);
	--text-h2: var(--text-base);
	--text-h3: var(--text-base);
	--text-h4: var(--text-base);
	--text-h5: var(--text-base);
	--text-h6: var(--text-base);
}

