/* ==========================================================================
settings.defaults
/  ========================================================================== */

@use 'sass:math';
@use 'layers';

/* --------------------------------------------------------------------------
Baseline
/  -------------------------------------------------------------------------- */

$baseline: 4px !default;

/* --------------------------------------------------------------------------
Responsive
Define your breakpoints with px values. These will be converted to ems.
/  -------------------------------------------------------------------------- */

$breakpoints: (
	palm: 320px,
	lap: 640px,
	desk: 960px,
	wall: 1280px,
) !default;

/* --------------------------------------------------------------------------
Spacing
/  -------------------------------------------------------------------------- */

$spacing: (
	base: 6,
	// 24px
	huge:
		(
			palm: 8,
			desk: 10,
		),
) !default;

/* --------------------------------------------------------------------------
Typography
/  -------------------------------------------------------------------------- */

$font-size: 16px !default;
$line-height: 6 * $baseline !default;
$line-height-ratio: math.div($line-height, $font-size);

$type-scale: (
	base: $font-size,
	alpha: (
		palm: 64px,
		desk: 72px,
	),
	beta: (
		palm: 56px,
		desk: 64px,
	),
	gamma: (
		palm: 48px,
		desk: 56px,
	),
	delta: (
		palm: 40px,
		desk: 48px,
	),
	epsilon: (
		palm: 32px,
		desk: 40px,
	),
	zeta: (
		palm: 24px,
		desk: 32px,
	),
) !default;

$heading-mapping: (
	1: alpha,
	2: beta,
	3: gamma,
	4: delta,
	5: epsilon,
	6: zeta,
) !default;
