/* ==========================================================================
settings.defaults
/  ========================================================================== */

@use 'sass:math';
@use 'layers';

/* --------------------------------------------------------------------------
Baseline
/  -------------------------------------------------------------------------- */

$baseline: 4px !default;

/* --------------------------------------------------------------------------
Responsive
Define your breakpoints with px values. These will be converted to ems.
/  -------------------------------------------------------------------------- */

$breakpoints: (
	palm: 320px,
	lap: 640px,
	desk: 960px,
	wall: 1280px,
) !default;

/* --------------------------------------------------------------------------
Spacing
/  -------------------------------------------------------------------------- */

$spacing: (
	nano: 1,
	micro: 2,
	milli: 4,
	base: 6,
	kilo: 10,
	mega: 14,
	giga: 18,
	tera: 22,
) !default;

/* --------------------------------------------------------------------------
Typography
/  -------------------------------------------------------------------------- */

$type-scale: (
	eta: (
		palm: 16px,
		desk: 20px,
	),
	base: (
		palm: 18px,
		desk: 24px,
	),
	delta: (
		palm: 24px,
		desk: 32px,
	),
	gamma: (
		palm: 40px,
		desk: 64px,
	),
	beta: (
		palm: 48px,
		desk: 92px,
	),
	alpha: (
		palm: 56px,
		desk: 112px,
	),
) !default;

$heading-mapping: (
	1: alpha,
	2: beta,
	3: gamma,
	4: delta,
	5: base,
	6: base,
) !default;

/* --------------------------------------------------------------------------
Constants
/  -------------------------------------------------------------------------- */

$browser-font-size: 16px;
